html {
    scroll-behavior: smooth; 
    body {
        color: #000000;
        overflow-x: hidden;

        .bg-blue {
            background-color: #243a89;
        }
        .content {
            z-index: -100;
            @font-face {
                font-family: Courgette;
                src: url('/iceparadise/fonts/Courgette/Courgette-Regular.ttf');
            }
            .content-header {
                text-align: center;
                font-family: Courgette;
                font-size: 10vw;
                line-height: 100vh;
                opacity: 0;
                padding-top: 20px;

                top: 0;
                left: 0;
                right: 0;
                -webkit-user-select: none; /* Safari */        
                -moz-user-select: none; /* Firefox */
                -ms-user-select: none; /* IE10+/Edge */
                user-select: none; /* Standard */
                
                transition: opacity 1s ease-in-out, padding-top 1s ease-in-out;

                &.max-opacity {
                    padding-top: 0;
                    opacity: 1;
                }
            }
        }
        .top-navbar {
            opacity: 1;
            .navbar {
                box-shadow: 13px 23px 45px 13px rgb(0 0 0 / 47%);
            }
            padding-bottom: 30px;
            z-index: 999;
            .navbar-nav {
                li {
                    padding-left: 28px;
                    padding-right: 28px;
                }
            }
            .bg-blue {
                background-color: #243a89;
            }
            .top-logos {
                .logo-ip {
                    height: 50px;
                    float: left;
                    img {
                        width: 100%;
                        height: 50px;
                    }
                }
                .logo-ic {
                    height: 50px;
                    float: left;
                    img {
                        width: 100%;
                        height: 50px;
                    }
                }
            }
            .nav-link-color {
                color: white !important;
                &:hover {
                    color: #4f7ae8 !important;
                }
                &.nav-link-color-highlight {
                    color: #4f7ae8 !important;
                }
            }
            .dropdown-item-custom {
                &:hover {
                    color: #4f7ae8;
                    background-color: transparent;
                }
            }
            
            @keyframes slideIn {
                0% {
                    transform: translateY(-1rem);
                    opacity: 0;
                }
                100% {
                    transform: translateY(0rem);
                    opacity: 1;
                }
            }
            
            .slideIn {
                -webkit-animation-name: slideIn;
                animation-name: slideIn;
                animation-duration: 0.4s;
                animation-fill-mode: both;
            }

            .dropdown .show {
                max-height: 200px;
                opacity: 1;
                visibility: visible;
                display: block;
            }

            .navbar-toggler-custom {
                border-color: white;
                transition: background-color 0.3s ease-in-out;
                &:focus {
                    box-shadow: none;
                }
                &:hover {
                    background-color: #4f7ae8;
                }
                .navbar-toggler-icon {
                    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
                }
            }

            .navbar-brand {
                .top-logos {
                    transition: opacity 0.3s ease-in-out;
                    &:hover {
                        opacity: 0.5;
                    }
                }
            }

        }
        .main-content {
            text-align: center;
            height: 95vh;
            width: 100%;
            background-size: cover;
            opacity: 0;
            padding-top: 80px;
            transition: opacity 1s ease-in-out, padding-top 1s ease-in-out;
            img {
                height: 100%;
            }
            &.max-opacity {
                padding-top: 60px;
                opacity: 1;
            }
        }
        .about-content {
            width: 100%;

            .about-top {
                height: 100vh;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                background-image: url("/iceparadise/images/about/heart-about.jpg");
                background-attachment: fixed;
                z-index: -999;
                width: 100vw;
                position: fixed;
                opacity: 0.2;
            }

            .about-image {
                img {
                    width: 100%;
                }
            }
            #about-text {
                padding: 30px;
                text-align: left;
                font-size: 20px;
                padding-top: 80px;
                .about-text-bold {
                    font-weight: bold;
                }
            }
            .about-content-top  {
                height: 100vh;
                .about-content-header {
                    text-align: center;
                    // transform: translateY(50%);
                    position: relative;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
                    .about-content-header-img {
                        width: 100%;
                        // max-width: 100vh;
                        max-width: 85vh;
                        text-align: center;
                        font-family: Courgette;
                        font-size: 10vw;
                        line-height: 100vh;
                        opacity: 0;
                        padding-top: 80px;

                        top: 0;
                        left: 0;
                        right: 0;
                        -webkit-user-select: none; /* Safari */        
                        -moz-user-select: none; /* Firefox */
                        -ms-user-select: none; /* IE10+/Edge */
                        user-select: none; /* Standard */
                        
                        transition: opacity 1s ease-in-out, padding-top 1s ease-in-out;

                        &.show-logo {
                            padding-top: 60px;
                            opacity: 1;
                        }
                    }
                }
                .scroll-down {
                    text-align: center;
                    opacity: 0;
                    transition: opacity 1s ease-in-out;
                    font-size: 45px;
                    &.show-icon {
                        opacity: 0.7;
                    }
                    .scroll-down-icon {
                        color: black;
                        &:link, &:visited {
                            text-decoration: none;
                        }
                        &:active {
                            color: black;
                        }
                        &:hover {
                            color: black;
                            cursor: pointer;
                            opacity: 0.9;
                        }
                    }
                }
            }
        }
        .offer-content {
            width: 100%;
            .offer-top {
                height: 100vh;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                background-image: url("/iceparadise/images/offer/offer-skates.jpg");
                background-attachment: fixed;
                z-index: -999;
                width: 100vw;
                position: fixed;
                opacity: 0.2;
            }
            .offer-img {
                width: 100%;
            }
            .about-text {
                padding-top: 60px;
                padding-bottom: 30px;
                text-align: left;
            }

            .offer-sections {
                .offer-section {
                    .offer-section-img {
                        img {
                            width: 100%;
                            height: 300px;
                            object-fit: cover;
                        }
                    }
                    .offer-section-text {
                        float: left;
                        width: 100%;
                        height: 300px;
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        flex-wrap: wrap;

                        padding-left: 5vw;
                        padding-right: 5vw;

                        .offer-section-text-header {
                            text-align: left;
                            font-weight: bold;
                            font-size: 4vh;
                            line-height: 34px;
                            padding-bottom: 6px;
                        }
                        .offer-section-text-description {
                            font-size: 3.5vh;
                        }
                    }
                }            
            }
        }
        .teams-content {
            width: 100%;
            background-size: cover;

            .teams-top {
                height: 100vh;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                background-image: url("/iceparadise/images/teams/teams-background.jpg");
                background-attachment: fixed;
                z-index: -999;
                width: 100vw;
                position: fixed;
                opacity: 0.2;
            }

            .team {
                text-align: center;
                .team-name {
                    font-family: Courgette;
                    font-size: 40px;
                    padding-top: 70px;
                    padding-bottom: 15px;
                }
                .team-image {
                    width: 80vw;
                    margin-left: auto;
                    margin-right: auto;

                    img {
                        width: 100%;
                    }
                    .team-image-description {
                        font-size: 11px;
                    }
                }
                .team-description {
                    padding: 30px;
                    text-align: left;
                }
                .team-more-images {
                    width: 100%;
                    text-align: center;
                    .team-more-image {
                        width: 100%;
                        height: 100%;
                        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                            height: auto;
                        }
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }

        .gallery-content {
            width: 100%;
            .gallery-top {
                height: 100vh;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                background-image: url("/iceparadise/images/gallery/gallery-top.jpg");
                background-attachment: fixed;
                z-index: -999;
                width: 100vw;
                position: fixed;
                opacity: 0.2;
            }
            .gallery-image {
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                overflow: hidden;
                
                width: 100%;
                height: 100%;

                @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                    height: auto;
                }

                img {
                    
                    width: 100%;
                    height: 100%;

                    object-fit: cover;
                    transition: 0.2s;

                    &:hover {
                        filter: brightness(120%);
                        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                            opacity: 0.9;
                        }
                        cursor: pointer;
                    }
                }
            }
            .gallery-rows {
                .gallery-row {
                    width: 100%;
                    .gallery-image {
                        float: left;
                        width: 25%;
                        img {
                            width: 100%;
                            opacity: 0;
                            transition: opacity 1s linear;
                        &.loaded {
                                opacity: 1;
                                box-shadow:         inset 0 0 10px #000000;
                        }
                        }
                    }
                }
            }
        }

        .contact-content {
            width: 100%;
            .contact-top {
                height: 100vh;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                background-image: url("/iceparadise/images/contact/contact-top.jpg");
                background-attachment: fixed;
                z-index: -999;
                width: 100vw;
                position: fixed;
                opacity: 0.2;
            }
            .fb-page {
                display: block;
                text-align: center;
                top: 50%;
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
            }
            .instagram-section .row {
                a {
                    display: contents;
                    color: #000000;
                }
                .instagram-section-element {
                    display: inline-block;
                    text-align: center;
                    .instagram-subtext {
                        line-height: normal;
                    }
                    .instagram {
                        font-size: 80px;
                        // transition do obejścia później
                        // transition: background 1s ease-out;
                    }
                    &:hover {
                        cursor: pointer;
                        .instagram {
                            background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
                            -webkit-background-clip: text;
                            background-clip: text;
                            -webkit-text-fill-color: transparent;
                        }
                    }
                }
            }
            .contact-image {
                text-align: center;
                img {
                    width: 50%;
                }
            }
            .contact-contact {
                font-size: 20px;
                text-align: center;
                .contact-contact-header {
                    display: inline-block;
                    font-weight: bold;
                    padding-bottom: 5px;
                }
                .contact-contact-link {
                    color: black;
                    &:link, &:visited {
                        text-decoration: none;
                    }
                    &:hover, &:active {
                        color: black;
                    }
                }
                .contact-contact-address-header {
                    display: inline-block;
                    font-weight: bold;
                    padding-bottom: 3px;
                }
                .contact-contact-address-content {
                    line-height: normal;
                }
            }
            .contact-last-line {
                padding-top: 40px;
            }
        }

        .news-content {
            width: 100%;
            .news-top {
                height: 100vh;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                background-image: url("/iceparadise/images/news/news-top.jpg");
                background-attachment: fixed;
                z-index: -999;
                width: 100vw;
                position: fixed;
                opacity: 0.2;
            }
            .news-sections {
                .news-section {
                    .news-section-text {
                        .news-section-text-header {
                            display: block;
                            font-weight: bold;
                        }
                    }
                    .news-section-img {
                        img {
                            width: 100%;
                            height: 300px;
                            object-fit: cover;
                        }
                    }
                }
            }
        }

        .footer {
            background-color: #e9edfa;
            // border-top: 5px outset #243a89;
            border-top: 4px outset;
            // box-shadow: 13px 23px 45px 13px rgb(0 0 0 / 47%);
            .pge-section {
                .pge-section-header {
                    text-align: center;
                    font-weight: bold;
                    padding-bottom: 20px;
                }
                .pge-img {
                    text-align: right;
                    img {
                        width: 50%;
                    }
                    &:hover {
                        cursor: pointer;
                    }
                }
                .pge-junior-img {
                    text-align: left;
                    img {
                        width: 40%;
                    }
                }
            }
            .gks-section {
                .gks-section-header {
                    text-align: center;
                    font-weight: bold;
                    padding-bottom: 20px;
                }
                .gks-img {
                    text-align: center;
                    img {
                        width: 50%;
                    }
                }
            }
        }

        @media all and (max-width: 1060px) {
            .top-navbar .navbar-nav li {
                padding-left: 20px;
                padding-right: 20px;
            }
        }

        @media all and (min-width: 992px) {
            .navbar .nav-item .dropdown-menu {
                transition: display 1s ease-out;
                display: none;
            }
            .navbar .nav-item:hover .dropdown-menu {
                display: block;
                margin-top: 0;
                left: 9px;
            }
        }
        @media all and (max-width: 767px) {

            .offer-content .offer-sections .offer-section .offer-section-text {
                height: 100%;
                padding-bottom: 50px;
                .offer-section-text-header {
                    text-align: center;
                }
            }

            .main-content {
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}