html {
  scroll-behavior: smooth;
}
html body {
  color: #000000;
  overflow-x: hidden;
}
html body .bg-blue {
  background-color: #243a89;
}
html body .content {
  z-index: -100;
}
@font-face {
  font-family: Courgette;
  src: url('/iceparadise/fonts/Courgette/Courgette-Regular.ttf');
}
html body .content .content-header {
  text-align: center;
  font-family: Courgette;
  font-size: 10vw;
  line-height: 100vh;
  opacity: 0;
  padding-top: 20px;
  top: 0;
  left: 0;
  right: 0;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
  transition: opacity 1s ease-in-out, padding-top 1s ease-in-out;
}
html body .content .content-header.max-opacity {
  padding-top: 0;
  opacity: 1;
}
html body .top-navbar {
  opacity: 1;
  padding-bottom: 30px;
  z-index: 999;
}
html body .top-navbar .navbar {
  box-shadow: 13px 23px 45px 13px rgba(0, 0, 0, 0.47);
}
html body .top-navbar .navbar-nav li {
  padding-left: 28px;
  padding-right: 28px;
}
html body .top-navbar .bg-blue {
  background-color: #243a89;
}
html body .top-navbar .top-logos .logo-ip {
  height: 50px;
  float: left;
}
html body .top-navbar .top-logos .logo-ip img {
  width: 100%;
  height: 50px;
}
html body .top-navbar .top-logos .logo-ic {
  height: 50px;
  float: left;
}
html body .top-navbar .top-logos .logo-ic img {
  width: 100%;
  height: 50px;
}
html body .top-navbar .nav-link-color {
  color: white !important;
}
html body .top-navbar .nav-link-color:hover {
  color: #4f7ae8 !important;
}
html body .top-navbar .nav-link-color.nav-link-color-highlight {
  color: #4f7ae8 !important;
}
html body .top-navbar .dropdown-item-custom:hover {
  color: #4f7ae8;
  background-color: transparent;
}
@keyframes slideIn {
  0% {
    transform: translateY(-1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
}
html body .top-navbar .slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
  animation-duration: 0.4s;
  animation-fill-mode: both;
}
html body .top-navbar .dropdown .show {
  max-height: 200px;
  opacity: 1;
  visibility: visible;
  display: block;
}
html body .top-navbar .navbar-toggler-custom {
  border-color: white;
  transition: background-color 0.3s ease-in-out;
}
html body .top-navbar .navbar-toggler-custom:focus {
  box-shadow: none;
}
html body .top-navbar .navbar-toggler-custom:hover {
  background-color: #4f7ae8;
}
html body .top-navbar .navbar-toggler-custom .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
html body .top-navbar .navbar-brand .top-logos {
  transition: opacity 0.3s ease-in-out;
}
html body .top-navbar .navbar-brand .top-logos:hover {
  opacity: 0.5;
}
html body .main-content {
  text-align: center;
  height: 95vh;
  width: 100%;
  background-size: cover;
  opacity: 0;
  padding-top: 80px;
  transition: opacity 1s ease-in-out, padding-top 1s ease-in-out;
}
html body .main-content img {
  height: 100%;
}
html body .main-content.max-opacity {
  padding-top: 60px;
  opacity: 1;
}
html body .about-content {
  width: 100%;
}
html body .about-content .about-top {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/iceparadise/images/about/heart-about.jpg");
  background-attachment: fixed;
  z-index: -999;
  width: 100vw;
  position: fixed;
  opacity: 0.2;
}
html body .about-content .about-image img {
  width: 100%;
}
html body .about-content #about-text {
  padding: 30px;
  text-align: left;
  font-size: 20px;
  padding-top: 80px;
}
html body .about-content #about-text .about-text-bold {
  font-weight: bold;
}
html body .about-content .about-content-top {
  height: 100vh;
}
html body .about-content .about-content-top .about-content-header {
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
html body .about-content .about-content-top .about-content-header .about-content-header-img {
  width: 100%;
  max-width: 85vh;
  text-align: center;
  font-family: Courgette;
  font-size: 10vw;
  line-height: 100vh;
  opacity: 0;
  padding-top: 80px;
  top: 0;
  left: 0;
  right: 0;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
  transition: opacity 1s ease-in-out, padding-top 1s ease-in-out;
}
html body .about-content .about-content-top .about-content-header .about-content-header-img.show-logo {
  padding-top: 60px;
  opacity: 1;
}
html body .about-content .about-content-top .scroll-down {
  text-align: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  font-size: 45px;
}
html body .about-content .about-content-top .scroll-down.show-icon {
  opacity: 0.7;
}
html body .about-content .about-content-top .scroll-down .scroll-down-icon {
  color: black;
}
html body .about-content .about-content-top .scroll-down .scroll-down-icon:link,
html body .about-content .about-content-top .scroll-down .scroll-down-icon:visited {
  text-decoration: none;
}
html body .about-content .about-content-top .scroll-down .scroll-down-icon:active {
  color: black;
}
html body .about-content .about-content-top .scroll-down .scroll-down-icon:hover {
  color: black;
  cursor: pointer;
  opacity: 0.9;
}
html body .offer-content {
  width: 100%;
}
html body .offer-content .offer-top {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/iceparadise/images/offer/offer-skates.jpg");
  background-attachment: fixed;
  z-index: -999;
  width: 100vw;
  position: fixed;
  opacity: 0.2;
}
html body .offer-content .offer-img {
  width: 100%;
}
html body .offer-content .about-text {
  padding-top: 60px;
  padding-bottom: 30px;
  text-align: left;
}
html body .offer-content .offer-sections .offer-section .offer-section-img img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
html body .offer-content .offer-sections .offer-section .offer-section-text {
  float: left;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 5vw;
  padding-right: 5vw;
}
html body .offer-content .offer-sections .offer-section .offer-section-text .offer-section-text-header {
  text-align: left;
  font-weight: bold;
  font-size: 4vh;
  line-height: 34px;
  padding-bottom: 6px;
}
html body .offer-content .offer-sections .offer-section .offer-section-text .offer-section-text-description {
  font-size: 3.5vh;
}
html body .teams-content {
  width: 100%;
  background-size: cover;
}
html body .teams-content .teams-top {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/iceparadise/images/teams/teams-background.jpg");
  background-attachment: fixed;
  z-index: -999;
  width: 100vw;
  position: fixed;
  opacity: 0.2;
}
html body .teams-content .team {
  text-align: center;
}
html body .teams-content .team .team-name {
  font-family: Courgette;
  font-size: 40px;
  padding-top: 70px;
  padding-bottom: 15px;
}
html body .teams-content .team .team-image {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}
html body .teams-content .team .team-image img {
  width: 100%;
}
html body .teams-content .team .team-image .team-image-description {
  font-size: 11px;
}
html body .teams-content .team .team-description {
  padding: 30px;
  text-align: left;
}
html body .teams-content .team .team-more-images {
  width: 100%;
  text-align: center;
}
html body .teams-content .team .team-more-images .team-more-image {
  width: 100%;
  height: 100%;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  html body .teams-content .team .team-more-images .team-more-image {
    height: auto;
  }
}
html body .teams-content .team .team-more-images .team-more-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
html body .gallery-content {
  width: 100%;
}
html body .gallery-content .gallery-top {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/iceparadise/images/gallery/gallery-top.jpg");
  background-attachment: fixed;
  z-index: -999;
  width: 100vw;
  position: fixed;
  opacity: 0.2;
}
html body .gallery-content .gallery-image {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
  width: 100%;
  height: 100%;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  html body .gallery-content .gallery-image {
    height: auto;
  }
}
html body .gallery-content .gallery-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.2s;
}
html body .gallery-content .gallery-image img:hover {
  filter: brightness(120%);
  cursor: pointer;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  html body .gallery-content .gallery-image img:hover {
    opacity: 0.9;
  }
}
html body .gallery-content .gallery-rows .gallery-row {
  width: 100%;
}
html body .gallery-content .gallery-rows .gallery-row .gallery-image {
  float: left;
  width: 25%;
}
html body .gallery-content .gallery-rows .gallery-row .gallery-image img {
  width: 100%;
  opacity: 0;
  transition: opacity 1s linear;
}
html body .gallery-content .gallery-rows .gallery-row .gallery-image img.loaded {
  opacity: 1;
  box-shadow: inset 0 0 10px #000000;
}
html body .contact-content {
  width: 100%;
}
html body .contact-content .contact-top {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/iceparadise/images/contact/contact-top.jpg");
  background-attachment: fixed;
  z-index: -999;
  width: 100vw;
  position: fixed;
  opacity: 0.2;
}
html body .contact-content .fb-page {
  display: block;
  text-align: center;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
html body .contact-content .instagram-section .row a {
  display: contents;
  color: #000000;
}
html body .contact-content .instagram-section .row .instagram-section-element {
  display: inline-block;
  text-align: center;
}
html body .contact-content .instagram-section .row .instagram-section-element .instagram-subtext {
  line-height: normal;
}
html body .contact-content .instagram-section .row .instagram-section-element .instagram {
  font-size: 80px;
}
html body .contact-content .instagram-section .row .instagram-section-element:hover {
  cursor: pointer;
}
html body .contact-content .instagram-section .row .instagram-section-element:hover .instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
html body .contact-content .contact-image {
  text-align: center;
}
html body .contact-content .contact-image img {
  width: 50%;
}
html body .contact-content .contact-contact {
  font-size: 20px;
  text-align: center;
}
html body .contact-content .contact-contact .contact-contact-header {
  display: inline-block;
  font-weight: bold;
  padding-bottom: 5px;
}
html body .contact-content .contact-contact .contact-contact-link {
  color: black;
}
html body .contact-content .contact-contact .contact-contact-link:link,
html body .contact-content .contact-contact .contact-contact-link:visited {
  text-decoration: none;
}
html body .contact-content .contact-contact .contact-contact-link:hover,
html body .contact-content .contact-contact .contact-contact-link:active {
  color: black;
}
html body .contact-content .contact-contact .contact-contact-address-header {
  display: inline-block;
  font-weight: bold;
  padding-bottom: 3px;
}
html body .contact-content .contact-contact .contact-contact-address-content {
  line-height: normal;
}
html body .contact-content .contact-last-line {
  padding-top: 40px;
}
html body .news-content {
  width: 100%;
}
html body .news-content .news-top {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/iceparadise/images/news/news-top.jpg");
  background-attachment: fixed;
  z-index: -999;
  width: 100vw;
  position: fixed;
  opacity: 0.2;
}
html body .news-content .news-sections .news-section .news-section-text .news-section-text-header {
  display: block;
  font-weight: bold;
}
html body .news-content .news-sections .news-section .news-section-img img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
html body .footer {
  background-color: #e9edfa;
  border-top: 4px outset;
}
html body .footer .pge-section .pge-section-header {
  text-align: center;
  font-weight: bold;
  padding-bottom: 20px;
}
html body .footer .pge-section .pge-img {
  text-align: right;
}
html body .footer .pge-section .pge-img img {
  width: 50%;
}
html body .footer .pge-section .pge-img:hover {
  cursor: pointer;
}
html body .footer .pge-section .pge-junior-img {
  text-align: left;
}
html body .footer .pge-section .pge-junior-img img {
  width: 40%;
}
html body .footer .gks-section .gks-section-header {
  text-align: center;
  font-weight: bold;
  padding-bottom: 20px;
}
html body .footer .gks-section .gks-img {
  text-align: center;
}
html body .footer .gks-section .gks-img img {
  width: 50%;
}
@media all and (max-width: 1060px) {
  html body .top-navbar .navbar-nav li {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media all and (min-width: 992px) {
  html body .navbar .nav-item .dropdown-menu {
    transition: display 1s ease-out;
    display: none;
  }
  html body .navbar .nav-item:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    left: 9px;
  }
}
@media all and (max-width: 767px) {
  html body .offer-content .offer-sections .offer-section .offer-section-text {
    height: 100%;
    padding-bottom: 50px;
  }
  html body .offer-content .offer-sections .offer-section .offer-section-text .offer-section-text-header {
    text-align: center;
  }
  html body .main-content img {
    width: 100%;
    height: auto;
  }
}
